/*==================================================*/
/*  §TYPOGRAPHY
/*==================================================*/

h1,h2,h3,h4,h5,h6 {
    position: relative;
    margin: 4em 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .125em;
    font-weight: 700;
    @include vendor(mask-image, url(/img/knockout.png));

    @media screen and (max-width:600px) {
        margin: 2em 0;
    }

}

h1 {
    font-family: "futura-pt",sans-serif;
}

h2 {
    font-weight: 400;
    font-style: italic;
}

h3,.h3 {
    font-size: 1em;
    font-family: "futura-pt",sans-serif;
}

a,a:link {
    border-bottom: 1px dotted $color;
    color: $color;
    text-decoration: none;
    cursor: pointer;

    &:visited {
        color: $color;
    }

    &:hover {
        color: $anchorHover;
    }

}

::selection {
    color: #ccc;
}
::-moz-selection {
    color: #ccc;
}