---
title: Portfolio
layout: default
class: portfolio-index
permalink: /portfolio/
---

<section class="portfolio-wrapper grid-row">
{% assign portfolioItems = site.portfolio | sort: 'date' %}
{% for item in portfolioItems reversed %}
	<a href="{{ item.url }}">
		<article class="portfolio-entry column-{{ item.column-count }} background-{{ item.background-type }}">
			<div class="inner" style="background-image: url('{{ item.thumb }}'); {% if item.background %}background-color:{{ item.background}}"{% endif %}>
				<div class="hover-cover">
					<div class="p-grid-title">
						{{ item.title }}
						<span>{{ item.type }}</span>
					</div>
				</div>
			</div>
		</article>
	</a>
{% endfor %}
</section>
