<section class="feed">
    {% for post in site.data.feed %}
    <article>
        <div class="feed-img">
            <img src="/assets/feed/{{ post.imgPath }}" />
        </div>
        <div class="meta">
            <h4>{{ post.title }}</h4>
            {{ post.description | markdownify }}
            {% if post.tools %}
            <p class="tools">{% for tool in post.tools %}
                {% if forloop.last %}
                {{ tool }}
                {% else %}
                {{ tool }}, 
                {% endif %}
                {% endfor %}</p>{% endif %}
            <p class="credit">{{ post.credit }}</p>
        </div>
    </article>
    {% endfor %}
</section>