<footer class="footer-wrap" role="complementary">
	{% if page.class != 'fourOhfour' %}
	<p class="copy">&copy; 2017 Adam Whitcroft unless otherwise stated.</p>
	<p><a href="https://twitter.com/adamwhitcroft">Twitter</a> &bull; <a href="https://instagram.com/adamwhitcroft/">Instagram</a> &bull; <a href="https://dribbble.com/adamwhitcroft">Dribbble</a> &bull; <a href="https://github.com/AdamWhitcroft">Github</a></p>
	<p><a href="mailto:hello@adamwhitcroft.com">hello@adamwhitcroft.com</a>.</p>
	{% endif %}
</footer>
