<header role="banner" class="{% if page.class == 'portfolio' or page.class == 'portfolio-index' %}portfolio{% endif %}">

{% if page.class == 'home' %}
	<h1><a href="/">Adam Whitcroft</a></h1>
{% endif %}

{% if page.class == 'fourOhfour' %}
	<h1>Everything's OK</h1>
{% endif %}

{% if page.category == 'post' %}
	<h1><a href="/">Adam Whitcroft</a></h1>
{% endif %}

{% if page.class == 'portfolio' or page.class == 'portfolio-index' %}
	<h1><a href="/">Adam Whitcroft</a> {% if page.class == 'portfolio' %}&bull; <a href="/portfolio">Portfolio</a>{% else %}&bull; Portfolio{% endif %}</h1>
{% endif %}

</header>
