<section class="icons">
    {% for icon in site.data.icons %}
    <div>
        <img src="/assets/icons/{{ icon.imgPath}}" alt="{{ icon.name }} designed by Adam Whitcroft for {{ icon.client }}" />
        <ul>
            <li>
                {{ icon.name }}
            </li>
            <li class="client">
                &middot;
                {% if icon.siteURL %}
                <a href="{{ icon.siteURL }}" title="See {{ icon.name }} icon by Adam Whitcroft on {{ icon.client }}'s site">{{ icon.client }}</a>
                {% else %}
                {{ icon.client }}
                {% endif %}
            </li>
        </ul>
    </div>
    {% endfor %}
</section>