<script>
    window.onscroll = function() {
        renderScrollMenu();
    };

    function renderScrollMenu() {
        var scrolledAmount = window.pageYOffset | document.body.scrollTop;
        var scrollNav = document.getElementById('scrollNav');
        var topOfMain = document.getElementsByTagName('main')[0].offsetTop;

        if(scrolledAmount > topOfMain){
            scrollNav.classList.add('visible');
        } else {
            scrollNav.classList.remove('visible');
        };
    };

    console.log("%cHey, follow me on Twitter @adamwhitcroft.", "font-weight: bold; font-size: 24px; line-height: 1.65; color: #000;");
</script>