<script>
    window.onscroll = function() {
        renderScrollMenu();
    };

    function renderScrollMenu() {
        var scrolledAmount = window.pageYOffset | document.body.scrollTop;
        var scrollNav = document.getElementById('scrollNav');
        var topOfMain = document.getElementsByTagName('main')[0].offsetTop;

        if(scrolledAmount > topOfMain){
            scrollNav.classList.add('visible');
        } else {
            scrollNav.classList.remove('visible');
        };
    };
</script>