<section class="resume">
    {% for job in site.data.resume %}
    <div class="job {% if forloop.last %}last{% endif %}">
        <div>
            <h3>{{ job.company }}</h3>
        </div>
        <div class="roles">
            <ul>
                {% for role in job.roles %}
                <li><span class="role">{{ role.role }}</span> <span class="dates">{{ role.startDate }} &ndash; {{ role.endDate }}</span></li>
                {% endfor %}
            </ul>
            {% if job.description %}
            <p>{{ job.description }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>