<h2>Testimonials</h2>
<section class="testimonials">
    {% for testimonial in site.data.testimonials %}
    <div class="testimonial {% cycle 'odd', 'even' %} {% if forloop.last %}last{% endif %}">
        <div class="avatar">
            <img src="{{ testimonial.avatar }}" />
            {% if testimonial.companyLogo %}
            <img class="company-logo" src="{{ testimonial.companyLogo }}" />
            {% endif %}
            <ul class="cite">
                <li class="source">{{ testimonial.source }}</li>
                <li class="company"><a href="{{ testimonial.companyURL }}">{{ testimonial.companyName }}</a></li>
            </ul>
        </div>
        <blockquote>
            {{ testimonial.quote }}
        </blockquote>
    </div>
    {% endfor %}
</section>