<section class="things-places">
    <div class="grid-row">
        <div class="column-6">
            <h2>Things</h2>
            <p class="preface">What I'm doing, or have done&hellip;</p>
            <p>
                {% for thing in page.things %}
                {% unless forloop.last %}
                <a href="{{ thing.href }}">{{ thing.name }}</a>,{% else %}<a href="{{ thing.href }}">{{ thing.name }}</a>
                {% endunless %}
                {% endfor %}
            </p>
        </div>
        <div class="column-6">
            <h2>Places</h2>
            <p class="preface">You should follow me&hellip;</p>
            <p>
                {% for place in page.places %}
                {% unless forloop.last %}
                <a href="{{ place.href }}">{{ place.name }}</a>,{% else %}<a href="{{ place.href }}">{{ place.name }}</a>
                {% endunless %}
                {% endfor %}
            </p>
        </div>
    </div>
</section>
