.apps {
    div {
      margin-bottom: 1em;
    }
  
    p {
      margin: 0;
    }

    ul {
      @extend .plain-ul;
      display: flex;
    }

    li {
      margin-right: $measure / 6;
    }
  
    .status {
      @extend .subdued;
    }
  }