/* --------------------------------------------------------
    DOCUMENT
-------------------------------------------------------- */

html {
    background-color: white;
    color: $color;
    font-weight: 300;
    font-size: 1.25em;
    font-family: $typeface-primary;
    line-height: 1.5em;

    @media screen and (max-width: $breakpoint-medium) {
        font-size: 100%;
    }

}

/* --------------------------------------------------------
    LAYOUT
-------------------------------------------------------- */

/* Header */

header {
    margin: $unit * 2 auto;
    padding: 0 $unit;

    svg {
        display: block;
        margin-bottom: $unit * 2;
    }

}

/* Main */

main {
    max-width: $width;
    padding: 0 $unit;
}

/* Things & Places */
.things-places {

    h2 {
        font-size: .75em;
    }

    p {
        margin: 0;
    }

    .preface {
        margin-bottom: $unit;
    }

}

/* --------------------------------------------------------
    BLOG POST BODY
-------------------------------------------------------- */

body.post {

    .post-time {
        font-size: .75em;
        color: lighten($color, 40%);
    }

}

/* --------------------------------------------------------
    FOOTER
-------------------------------------------------------- */

footer {
    padding: 0 $unit $unit $unit;
    margin: $unit * 2 auto 0 auto;
    @extend %clearfix;

    p {
        font-size: .75em;
        margin: 0;
        color: lighten($color, 40%);
    }

    ul {
        display: block;
        @extend .plain-ul;
        font-size: .75em;
    }

    li {
        float: left;
        margin-right: .5em;
    }

}
