.feed {
    article {
        margin-bottom: $measure;
    }

    .feed-img {
        border-radius: $measure / 3;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    .meta {
        margin: $measure / 3 0;
        padding-left: $measure / 3;
        padding-right: $measure / 3;

        @media screen and (max-width: $breakpoint-small) {
            padding: 0;
          }
    }

    h4 {
        margin: 0;
    }

    .credit, .tools {
        font-size: 0.875em;
        @extend .subdued;
        margin: 0;
    }
}