.icon-grid {
    margin-top: $measure;
    display: grid;
    grid-gap: $measure / 2;
    grid-template-columns: 2fr 2fr;

    .icon {
        overflow: hidden;
    }

    .hire-me {
        $border-color: rgba(255,255,255,.5);
        position: relative;
        padding: 1em;
        background: rgba(43,100,216,1);
        background: linear-gradient(0deg, rgba(43,100,216,1) 0%, rgba(99,199,255,1) 100%);
        color: white;
        border-radius: $measure / 3;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
        }

        &:before {
            top: 2em;
            border-top: 1px dashed $border-color;
        }

        &:after {
            bottom: 2em;
            border-bottom: 1px dashed $border-color;
        }

        .inner {
            padding: 1em 0;
            position: relative;
            background: url("/assets/blueprint.png");
            background-position: center center;
            background-size: 32px;

            &:before {
                content: '';
                position: absolute;
                border: 3px solid $border-color;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;  
                border-radius: 4px;
            }

        }

        .inner-inner {
            padding: 0 1em;
            display: flex;
            align-items: center;

            @media screen and (max-width: $breakpoint-small) {
                display: block;
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: -1em;
                bottom: -1em;
            }

            &:before {
                border-left: 1px dashed $border-color;
                left: 1em;
            }

            &:after {
                border-right: 1px dashed $border-color;
                right: 1em;
            }
            
        }

        .content {
            display: inline-flex;

            @media screen and (max-width: $breakpoint-small) {
                display: block;
                text-align: center;
            }
        }

        h4 {
            margin: 0;
            margin-right: .5em;
            position: relative;
            line-height: 2;

            @media screen and (max-width: $breakpoint-small) {
                margin: 0 0 .5em 0;
                background: rgba(255,255,255,.1);

                &:after {
                    content: '';
                    position: absolute;
                    left: -2em;
                    right: -2em;
                    bottom: 0;
                    border-bottom: 1px dashed $border-color;
                }
            }

        }

        p {
            margin: 0;
            position: relative;
            line-height: 2;

            @media screen and (max-width: $breakpoint-small) {
                display: block;
                background: rgba(255,255,255,.1);

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: -2em;
                    right: -2em;
                }

                &:after {
                    bottom: 0;
                    border-bottom: 1px dashed $border-color;
                }

                &:before {
                    top: 0;
                    border-top: 1px dashed $border-color;
                }

              }

            span {
                font-weight: bold;
                position: relative;

                @media screen and (max-width: $breakpoint-small) {
                    display: block;
                    text-align: center;

                    &:after {
                        content: '';
                        position: absolute;
                        left: -2em;
                        right: -2em;
                        bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }

                  }

            }

            @media screen and (max-width: $breakpoint-small) {
                margin-bottom: 1em;
                text-align: center;
              }
        }

        a {
            margin-left: auto;
            border: 2px solid white;
            color: white;
            font-weight: 600;
            padding: .5em 1.5em;
            border-radius: 6px;
            position: relative;
            transition: box-shadow 120ms ease, background-color 120ms ease;

            &:before {
                content: '';
                position: absolute;
                top: -2em;
                top: calc(-2em + -3px);
                bottom: -2em;
                bottom: calc(-2em + -3px);
                width: 1px;
                border-left: 1px dashed $border-color;
                left: -2px;

                @media screen and (max-width: $breakpoint-small) {
                    border: 0;
                    border-top: 1px dashed $border-color;
                    top: -2px;
                    left: -2em;
                    right: -2em;
                    height: 1px;
                    width: initial;
                  }
            }

            &:hover {
                text-decoration: none;
                background-color: rgba(255,255,255,.4);
                box-shadow: 0 0 1em rgba(16,40,101,.2);
            }

            @media screen and (max-width: $breakpoint-small) {
                display: block;
                text-align: center;
                padding: .5em;
            }
        }

    }

    .icon-img {
        border-radius: $measure / 3;
        overflow: hidden;
    }

    .type-app {
        .icon-img {
            padding: 5em;
            height: 6em;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }

    ul {
        @extend .plain-ul;

        li {
            float: left;
            margin-right: .25em;
        }
    }

    .meta {
        display: flex;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1em;

        ul {
            display: flex;
        }

        .name {
            font-weight: 600;
        }

        p {
            margin: 0;
        }

        .client {
            @extend .subdued;
        }

        .download {
            margin: 0;
            margin-left: auto;
        }

    }

}

.layout-full {
    grid-column: auto / span 2;
}

.layout-half {
    @media screen and (max-width: $breakpoint-small) {
        grid-column: auto / span 2;
      }
}