figure.profile-picture {
  position: relative;
  margin-bottom: $measure;

  @media screen and (max-width: $breakpoint-small) {
    margin-left: -$measure / 2;
  }

  img {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  }

  figcaption {
    transform: rotate(-8deg);
    position: absolute;
    color: white;
    bottom: $measure / 3;
    right: $measure / 3;
    font-family: "Caveat", cursive;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
