.resume {
    margin-top: $measure;

    .job {
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: 1fr 4fr;
        margin-bottom: $measure;

        @media screen and (max-width: $breakpoint-small) {
            display: block;
          }

          &.last {
              margin-bottom: 0;
          }

    }

    ul {
        @extend .plain-ul;

        li {
            display: flex;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                z-index: -1;
                top: 50%;
                border-bottom: 1px dashed $color-subdued;

                @media screen and (prefers-color-scheme: dark) {
                    border-bottom-color: $color-subdued--darkMode;
                }
            }

        }

        .role,
        .dates {
            background: $background;

            @media screen and (prefers-color-scheme: dark) {
                background: $background--darkMode;
            }
        }

        .role {
            padding-right: .5em;
        }

        .dates {
            padding-left: .5em;
            margin-left: auto;
            @extend .subdued;
        }

    }

    h4 {
        margin: 0;
        line-height: 1.5;
        font-size: 1em;
        font-weight: normal;
    }

    p {
        margin: 0;
    }

}