html {
  background-color: $background;
  color: $color;
  font-weight: normal;
  font-family: $font-sans-serif;
  line-height: 1.25;
  letter-spacing: -0.3px;
  font-size: 1em;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {
    background-color: $background--darkMode;
    color: $color--darkMode;
  }
}

header {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure / 2;
  padding-bottom: $measure / 2;

  #mainNav,
  #scrollNav {
    padding-top: $measure / 2;
    padding-bottom: $measure / 2;
  }

  #mainNav {
    opacity: 1;

    a {
      text-decoration: none;
    }

    &.hidden {
      opacity: 0;
    }

  }

  #scrollNav {
    background-color: rgba($background ,0.55);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 240ms ease, transform 240ms ease;

    @media screen and (prefers-color-scheme: dark) {
      background-color: rgba($background--darkMode ,0.55);
    }

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }

    a {
      text-decoration: none;
    }

  } 

  h1 {
    margin: 0;
    font-size: inherit;
  }

  span {
    @extend .subdued;
    display: block;
  }

  b {
    padding-left: .5em;
    padding-right: .5em;
    @extend .subdued;
    font-weight: normal;
  }
  
}

.home header {
  padding-top: $measure;
}

main {
  @extend .width;
  @extend .clearfix;

  article {
    position: relative;

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: $measure;
    }

  }

  article:target {
    padding-left: 1em;
    border-left: 2px solid $color;

    @media screen and (prefers-color-scheme: dark) {
      border-left-color: $link--darkMode;
    }

  }

}

.article-link {
  @extend .plain-link;
  position: absolute;
  top: -1rem;
  padding: 1rem;
  left: -2.5rem;

  @media screen and (max-width: $breakpoint-small) {
    position: initial;
    padding-left: 0;
  }
}

footer {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure;
  padding-bottom: $measure;

  p {
    margin: 0;
    @extend .font-size-small;
    @extend .subdued;
  }
}

.double-border {
  border-radius: $measure / 3;
  border: 1px solid #DBDBE3;
  box-shadow: 0 0 0 4px $color-tiles;

  @media screen and (prefers-color-scheme: dark) {
      box-shadow: 0 0 0 4px $color-tiles--darkMode;
      border-color: #2D2B38;
  }
}

.section-title {
  margin-top: $measure;
  margin-bottom: $measure;

  p {
    margin: 0;
  }

  .section-identifer {
    @extend .subdued;
    margin-bottom: 0.125em;
  }

  .section-title {
    font-weight: 500;
  }

}

/* Icons & Testimonials */
@import "icons";

/* Resume */
@import "resume";
