html {
  background-color: $background;
  color: $color;
  font-weight: normal;
  font-family: $font-monospace;
  line-height: 1.25;
  letter-spacing: -0.3px;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 100%;
  }
}

header {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure;
  padding-bottom: $measure / 2;
  position: relative;

  h1 {
    margin: 0;
    font-size: inherit;
    position: relative;
  }

  span {
    @extend .subdued;
    display: block;
  }

  a {
    display: inline-block;
    margin-top: $measure / 3;
  }
  
}

main {
  @extend .width;
  @extend .clearfix;

  article {
    position: relative;

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: $measure;
    }

  }

  article:target {
    padding-left: 1em;
    border-left: 2px solid $color;
  }

}

.article-link {
  @extend .plain-link;
  position: absolute;
  top: -1rem;
  padding: 1rem;
  left: -2.5rem;

  @media screen and (max-width: $breakpoint-small) {
    position: initial;
    padding-left: 0;
  }
}

.section-title {

  .identifier {
    @extend .subdued;
  }

  .title {
    @extend .strong;
  }

}

.key-value {

  .key {
    @extend .subdued;
  }

}

footer {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure;
  padding-bottom: $measure;

  p {
    margin: 0;
    @extend .font-size-small;
    @extend .subdued;
  }
}

.double-border {
  border-radius: $measure / 3;
  border: 1px solid #DBDBE3;
  box-shadow: 0 0 0 4px $color-tiles;
}

.section-title {
  margin-top: $measure;
  margin-bottom: $measure / 3;

  p {
    margin: 0;
  }

  .section-identifer {
    @extend .subdued;
    margin-bottom: 0.125em;
  }

  .section-title {
    font-weight: 500;
  }

}

.button {
  @extend .font-size-small;
  padding: 8px 16px;
  border: 1px solid #E9E9E9;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition-property: all;
  transition-duration: .15s;
  display: inline-block;
  color: $color;

  &:hover {
    text-decoration: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.075);
    border: 1px solid #D2D2D2;
  }

}