html {
  background-color: $background;
  color: $color;
  font-weight: normal;
  font-family: $font-sans-serif;
  line-height: 1.5;
  font-size: 1em;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media screen and (max-width: $breakpoint-small) {
    font-size: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {
    background-color: $background--darkMode;
    color: $color--darkMode;
  }
}

header {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure;
  padding-bottom: $measure;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    font-size: inherit;
  }

  span {
    @extend .subdued;
    display: block;
  }
  
}

main {
  @extend .width;
  @extend .clearfix;

  article {
    position: relative;

    @media screen and (max-width: $breakpoint-small) {
      margin-bottom: $measure;
    }
  }

  article:target {
    padding-left: 1em;
    border-left: 2px solid $color;

    @media screen and (prefers-color-scheme: dark) {
      border-left-color: $link--darkMode;
    }
  }
}

.article-link {
  @extend .plain-link;
  position: absolute;
  top: -1rem;
  padding: 1rem;
  left: -2.5rem;

  @media screen and (max-width: $breakpoint-small) {
    position: initial;
    padding-left: 0;
  }
}

footer {
  @extend .width;
  @extend .clearfix;
  padding-top: $measure;
  padding-bottom: $measure;
  display: flex;

  a {
    @extend .plain-link;
    @extend .subdued;

    &.active {
      border-bottom: 2px solid $link;

      @media screen and (prefers-color-scheme: dark) {
        border-bottom-color: $link--darkMode;
      }
    }
  }

  p {
    margin: 0;
    margin-left: auto;
    @extend .subdued;
  }

  ul {
    @extend .plain-ul;
    @extend .clearfix;
    margin-bottom: 0;
  }

  li {
    float: left;
    margin-right: $measure / 6;
  }
}

/* Footnotes */

.footnotes {
  margin-top: $measure;

  ol {
    @extend .font-size-small;
    padding: 0;
    margin: 0;
  }
}

/* Profile picture */
@import "profile-picture";

/* Icons */
@import "icons";

/* Projects */

.projects {

  h4 {
    margin-bottom: 0;
  }

  p {
    @extend .subdued;
  }

}