@import url('https://rsms.me/inter/inter.css');

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    background-color: $background;
    color: $color;
    font-weight: normal;
    font-family: $font;
    line-height: 1.5;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

header {
    @extend .width;
    padding-top: $measure;
    padding-bottom: $measure;

    a {
        font-weight: normal;
        text-decoration: none;
        margin-right: 1em;
    }

}

main {
    @extend .width;

    article {
        position: relative;
    }

    article:target {
        background: #FFF1D9;
    }

    .article-link {
        position: absolute;
        top: -1em;
        padding: 1em;
        left: -2.5em;
        text-decoration: none;
    }

    span {
        border-radius: 1em 0 1em 0;
        background: linear-gradient(-100deg, $hi1, $hi2 95%, $hi3);
    }

}

footer {
    @extend .width;
    padding-top: $measure;
    padding-bottom: $measure;

    p {
        font-size: .875em;
    }

    ul {
        @extend .plain-ul;
        font-size: .875em;
        margin-bottom: $measure / 3;
    }

    li {
        float: left;
        margin-right: 1em;
    }

}
