.testimonials {
    margin-top: $measure;

    .testimonial {
        margin-bottom: $measure;

        &.last {
            margin: 0;
        }

    }

    ul {
        @extend .plain-ul;
        margin-left: $measure / 3;

        li {
            line-height: $measure / 2;
        }
    }

    .source {
        font-weight: 600;
    }

    .company {
        @extend .font-size-small;
        @extend .subdued;
    }

    .avatar {
        display: flex;
        align-items: center;

        img {
            display: block;
            border-radius: 100%;
            width: $measure;
            height: $measure;
        }

    }

    blockquote {
        margin: $measure / 3 0 0 0;
    }

    span {
        border-bottom: 2px solid $color;
    }

}