.testimonials {
    margin-top: $measure / 2;
    column-gap: $measure / 2;
    column-count: 2;

    @media screen and (max-width: $breakpoint-small) {
        display: block;
        column-count: 1;
      }

    .testimonial {
        margin-bottom: $measure / 2;
        padding: 1em;
        border-radius: $measure / 3;
        border: 2px solid $color-tiles;
        position: relative;
        display: inline-block;

        @media screen and (prefers-color-scheme: dark) {
            border-color: $color-tiles--darkMode;
        }

        &.last {
            margin: 0;
        }

    }

    ul {
        @extend .plain-ul;
        margin-left: $measure / 3;

        li {
            line-height: $measure / 2;
        }
    }

    .source {
        font-weight: 600;
    }

    .company {
        @extend .font-size-small;
        @extend .subdued;
    }

    .avatar {
        display: flex;
        align-items: center;

        img {
            display: block;
            border-radius: 100%;
            width: $measure;
            height: $measure;
        }

    }

    .cite li {
        line-height: 1.25em;
    }

    blockquote {
        margin: 1em 0 0 0;
    }

    em {
        border-bottom: 2px solid $color;
    }

}