h1,
h2,
h3 {
  position: relative;
  font-weight: 700;
  font-style: normal;

  span {
    font-weight: 400;
  }
}

h1 {
  font-size: 1em;
}

h3 {
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: $color-titles;

  @media screen and (prefers-color-scheme: dark) {
    color: $color-titles--darkMode;
  }
}

main h1,h2,h3,h4,h5,h6 {
  margin-top: $measure;
}

a {
  text-decoration: none;
  color: $link;

  &:hover {
    text-decoration: underline
  }

  @media screen and (prefers-color-scheme: dark) {
    color: $link--darkMode;

    &:hover {
      text-decoration: underline;
    }
  }
}

blockquote {
  border-left: 1px solid $color-subdued;
  margin-left: 1rem;
  padding-left: 1rem;
  color: $color-subdued;

  @media screen and (prefers-color-scheme: dark) {
    border-left: 1px solid $color-subdued--darkMode;
    color: $color-subdued--darkMode;
  }
}

sup a,
.reversefootnote {
  @extend .plain-link;
}