h1,
h2,
h3 {
  position: relative;
  font-weight: 700;
  font-style: normal;

  span {
    font-weight: 400;
  }
}

main h1 {
  margin: 0;
}

main h2 {
  margin: $measure / 2 0 $measure / 2 0;
}

a {
  text-decoration: underline;
  color: $color;

  &:hover {
    text-decoration: underline
  }

  @media screen and (prefers-color-scheme: dark) {
    color: $color--darkMode;

    &:hover {
      text-decoration: underline;
    }
  }
}