h1,
h2,
h3 {
  position: relative;
  font-weight: 700;
  font-style: normal;

  span {
    font-weight: 400;
  }
}

main h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $link;

  &:hover {
    text-decoration: underline
  }

  @media screen and (prefers-color-scheme: dark) {
    color: $link--darkMode;

    &:hover {
      text-decoration: underline;
    }
  }
}

sup a,
.reversefootnote {
  @extend .plain-link;
}