/* Colours */

$background: #fff;
$background--darkMode: #070707;

$color: #1b1d2a;
$color--darkMode: #e3e2df;

$color-subdued: rgba($color, 0.5);
$color-subdued--darkMode: #585858;

$color-link: blue;
$color-link--darkMode: #5081EF;

$card-background: #FAFAFA;
$card-background--darkMode: #131313;

/* Type */

$font-sans-serif: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-small: 0.875rem;
$font-size-smallest: 0.75rem;

/* Structure */

$measure: 3em;

/* Responsive */

$breakpoint-small: 640px;
