/* Colours */

$background: #fff;
$background--darkMode: #161519;

$color: #1b1d2a;
$color--darkMode: #e3e2df;

$color-subdued: rgba($color, 0.5);
$color-subdued--darkMode: #7582A8;

$color-tiles: #F4F4F8;
$color-tiles--darkMode: #1F1E24;

// $link: #7A4EF6;
$link: blue;
$link--darkMode: #828fff;

/* Type */

$font-sans-serif: 'Inter', sans-serif;
$font-monospace: 'SF Mono', SFMono-Regular, ui-monospace,'DejaVu Sans Mono', Menlo, Consolas, monospace;
$font-size-small: 0.875rem;
$font-size-smallest: 0.75rem;

/* Structure */

$measure: 3em;

/* Responsive */

$breakpoint-small: 640px;
