/* --------------------------------------------------------
	VARIABLES
-------------------------------------------------------- */

/* Layout */

$width: 36em;

/* Type */

$font-primary: "abril-fatface";
$font-secondary: Georgia, Cambria,"Times New Roman", Times,serif;
$color: #38373d;
$highlight: #ecffd1;

/* Responsive */

$breakpoint-medium: 960px;
$breakpoint-small: 720px;

/* Grid */
$grid-columns: 12;