/* --------------------------------------------------------
	VARIABLES
-------------------------------------------------------- */

/* Layout */

$width: 36em;

/* Type */

$font-secondary: Athelas, Georgia, Cambria, "Times New Roman", serif;
$color: #3d464d;
$highlight: #fcf5e3;

/* Responsive */

$breakpoint-medium: 960px;
$breakpoint-small: 720px;

/* Grid */
$grid-columns: 12;
