hr {
  margin: $measure 0;
}

.item {
  position: relative;
  background: #fafafa;
  border: 1px solid #e8e9eb;
  border-radius: 8px;
  padding: $measure / 2;
  margin-bottom: $measure / 3;

  @media screen and (prefers-color-scheme: dark) {
    background: #26282d;
    border: 1px solid #3f3f3f;
  }

  h3 {
    margin-bottom: 0;

    @media screen and (min-width: $breakpoint-small) {
      margin-top: 0;
    }
  }

  .brand {
    margin: 0;
  }
}
