<section class="icon-grid">
    {% for icon in site.data.icons %}
    <div class="icon layout-{{ icon.layout }} type-{{ icon.type }}">
        <div class="icon-img" style="background-image:url(/assets/icons/{{ icon.imgPath }}">
        {% if icon.type == "kit" %}
        <img src="/assets/icons/{{ icon.imgPath }}" />
        {% endif %}
        </div>
        <div class="meta">
            <ul>
                <li>
                    {% if icon.downloadURL %}
                    <a href="{{ icon.downloadURL }}" title="Download {{ icon.name }} icon by Adam Whitcroft">{{ icon.name }}</a>
                    {% elsif icon.siteURL %}
                    <a href="{{ icon.siteURL }}" title="See {{ icon.name }} icon by Adam Whitcroft on {{ icon.client }}'s site">{{ icon.name }}</a>
                    {% else %}
                    {{ icon.name }}
                    {% endif %}
                </li>
                <li class="client">
                    &middot; {{ icon.client }}
                </li>
            </ul>
        </div>
    </div>
    {% endfor %}
</section>