<!DOCTYPE html>
<!--
🌽

Full site source - https://github.com/AdamWhitcroft/adamwhitcroft.github.io
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if page.meta-title %}{{ page.meta-title }}{% else %}{{ page.title }} | Adam Whitcroft{% endif %}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Fonts -->
        <link rel="dns-prefetch" href="http://use.typekit.com">
        <script src="https://use.typekit.net/svt1ifc.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
        <!-- Icon -->
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <!-- Styles -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body{% if page.class %} class="{{ page.class }}"{% endif %}>

        {% include header.html %}

        {% include content.html %}

        {% include portfolio-nav.html %}

        {% if page.class != 'fourOhfour' %}
            {% include footer.html %}
        {% endif %}

        {% include scripts.html %}

    </body>
</html>
