---
layout: compress
---
<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        {% if page.class == "home" %}
        <title>Adam Whitcroft</title>
        {% else %}
        <title>Adam Whitcroft &bull; {{ page.title }}</title>
        {% endif %}
        <meta name="description" content="Adam Whitcroft is a designer currently working at Shopify. You should follow him on Twitter @adamwhitcroft">
        <link rel="icon" type="image/svg+xml" href="/favicon.svg">
        <link color="#888" href="/favicon.svg" rel="mask-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="{{ page.class }}">
        {% include header.html %}
        {% include content.html %}
        {% include footer.html %}
    </body>
</html>
